In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('TestScores.csv')
df.head()

,SchoolYear,Semester,TestName,TestCategory,MeasureCode,StudentNumber,Grade,SchoolNum,SchoolName,SkillName,RawScore,ScaleScore,Growth,ProficiencyLevel
0,2010-2011,Spring,CELA Listening,CELA,Listening,463249,9,450.0,Abraham Lincoln High School,Listening,NaN,INV,NaN,NaN
1,2010-2011,Spring,CELA Reading,CELA,Reading,463249,9,450.0,Abraham Lincoln High School,Reading,NaN,INV,NaN,NaN
2,2010-2011,Spring,CELA Speaking,CELA,Speaking,463249,9,450.0,Abraham Lincoln High School,Speaking,NaN,INV,NaN,NaN
3,2010-2011,Spring,CELA Writing,CELA,Writing,463249,9,450.0,Abraham Lincoln High School,Writing,NaN,INV,NaN,NaN
4,2010-2011,Spring,CELA Comprehension,CELA,Comprehension,463249,9,450.0,Abraham Lincoln High School,Comprehension,NaN,NaN,NaN,NaN

In [11]:
df.shape

(289456, 14)

In [12]:
df['Test'] = df.TestName.map(str) + ' ' + df.MeasureCode
df.head()

,SchoolYear,Semester,TestName,TestCategory,MeasureCode,StudentNumber,Grade,SchoolNum,SchoolName,SkillName,RawScore,ScaleScore,Growth,ProficiencyLevel,Test
0,2010-2011,Spring,CELA Listening,CELA,Listening,463249,9,450.0,Abraham Lincoln High School,Listening,NaN,INV,NaN,NaN,CELA Listening Listening
1,2010-2011,Spring,CELA Reading,CELA,Reading,463249,9,450.0,Abraham Lincoln High School,Reading,NaN,INV,NaN,NaN,CELA Reading Reading
2,2010-2011,Spring,CELA Speaking,CELA,Speaking,463249,9,450.0,Abraham Lincoln High School,Speaking,NaN,INV,NaN,NaN,CELA Speaking Speaking
3,2010-2011,Spring,CELA Writing,CELA,Writing,463249,9,450.0,Abraham Lincoln High School,Writing,NaN,INV,NaN,NaN,CELA Writing Writing
4,2010-2011,Spring,CELA Comprehension,CELA,Comprehension,463249,9,450.0,Abraham Lincoln High School,Comprehension,NaN,NaN,NaN,NaN,CELA Comprehension Comprehension

In [ ]:
#df = df.drop(['TestName','TestCategory','MeasureCode','SchoolNum','SchoolName','SkillName'],axis=1)
#df.head()

In [13]:
tests = df.Test.unique()
#print(tests)
print(len(tests))

2771

In [14]:
df.dtypes

SchoolYear           object
Semester             object
TestName             object
TestCategory         object
MeasureCode          object
StudentNumber         int64
Grade                object
SchoolNum           float64
SchoolName           object
SkillName            object
RawScore            float64
ScaleScore           object
Growth              float64
ProficiencyLevel     object
Test                 object
dtype: object

In [15]:
df.SchoolYear = pd.to_datetime(df.SchoolYear.str[:4])
df.dtypes

SchoolYear          datetime64[ns]
Semester                    object
TestName                    object
TestCategory                object
MeasureCode                 object
StudentNumber                int64
Grade                       object
SchoolNum                  float64
SchoolName                  object
SkillName                   object
RawScore                   float64
ScaleScore                  object
Growth                     float64
ProficiencyLevel            object
Test                        object
dtype: object

In [16]:
df.ScaleScore[df.ScaleScore=='INV'] = np.NaN
df.ScaleScore[df.ScaleScore=='NS'] = np.NaN
df.ScaleScore[df.ScaleScore=='ABS'] = np.NaN
df.ScaleScore[df.ScaleScore=='EXM'] = np.NaN
df.head()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,SchoolYear,Semester,TestName,TestCategory,MeasureCode,StudentNumber,Grade,SchoolNum,SchoolName,SkillName,RawScore,ScaleScore,Growth,ProficiencyLevel,Test
0,2010-01-01,Spring,CELA Listening,CELA,Listening,463249,9,450.0,Abraham Lincoln High School,Listening,NaN,NaN,NaN,NaN,CELA Listening Listening
1,2010-01-01,Spring,CELA Reading,CELA,Reading,463249,9,450.0,Abraham Lincoln High School,Reading,NaN,NaN,NaN,NaN,CELA Reading Reading
2,2010-01-01,Spring,CELA Speaking,CELA,Speaking,463249,9,450.0,Abraham Lincoln High School,Speaking,NaN,NaN,NaN,NaN,CELA Speaking Speaking
3,2010-01-01,Spring,CELA Writing,CELA,Writing,463249,9,450.0,Abraham Lincoln High School,Writing,NaN,NaN,NaN,NaN,CELA Writing Writing
4,2010-01-01,Spring,CELA Comprehension,CELA,Comprehension,463249,9,450.0,Abraham Lincoln High School,Comprehension,NaN,NaN,NaN,NaN,CELA Comprehension Comprehension

In [19]:
df = df[pd.notnull(df['ScaleScore'])]
df.shape

(260417, 15)

In [20]:
a = 289456-260417
print(a)

29039

In [ ]:
df.isna().sum()/len(df)

In [21]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
df.ScaleScore = df.ScaleScore.astype(float)

In [ ]:
#df.ScaleScore.unique()
#df.groupby(['ScaleScore']).count()
#df.ScaleScore.astype(float)

In [ ]:
# Convert values in Test column to column headers in another df
df2 = pd.pivot_table(df, values = 'ScaleScore',index=['StudentNumber', 'SchoolYear', 'Grade'],columns='Test')
df2.head(50)

In [ ]:
df2.shape

In [ ]:
df2.isna().sum()

In [ ]:
df2.to_csv('DataLinkageCols.csv')

In [ ]:
print(3937*.9)
print(28*28)

###### nulls = df2.isna().sum()
print(np.mean(nulls))
print(nulls)

In [ ]:
df3 = df2.dropna(axis = 1, thresh = 1000)
df3.head()

In [ ]:
df3.isna().sum()

In [ ]:
df3.shape